<!doctype html>
<html>
  <head>
    <title><%= pagetitle %> Page</title>
  </head>
    <h1><%= pagetitle %></h1>
          <body>
            <h3>Here You can see the specific data on <%= pagetitle %>:</h3>
            <ul>
              <% availablegame.forEach(function(game){ %>
              <li><%= game.name %>, £<%= game.price %></li>
             <% }) %>
            </ul>i
  </body>
  <a href='./'>Home</a>
</html>
